<!DOCTYPE html>
<head>
    <title>Survey</title>
    <link type="text/css" rel="stylesheet" href="../static/survey.css" />
</head>
<body>
    <h1>Gil's Big Survey</h1>
    <form id="survey" name="survey" action="submitSurvey" method="post">
        {%  for group in question_groups -%}
        <div class="question_group">
            {%  for question in group -%}
            <div id="q{{question.id}}" class="question">
                <p>{{ question.id }}. {{ question.text }}</p>
                {{ question.answer|indent }}
            </div>
            {%  endfor %}
        </div>
        {%  endfor %}
        <!-- submit button -->
        <br />
        <input id="submitButton" type="submit" value="Submit Survey" />
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/survey.js"></script>
</body>
</html>
